---
# this is an empty front matter
---
<!-- Html Elements for Search -->
<div id="search-container">
<input type="text" id="search-input" placeholder="search...">
<ul id="results-container"></ul>
</div>

<!-- Script pointing to search-script.js -->
<script src="../search-script.js" type="text/javascript"></script>

<!-- Configuration -->
<script>
    console.log("hello")
SimpleJekyllSearch({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('results-container'),
  json: '/search.json'
})
console.log("hola")
</script>
