<footer id="wb-info">
{% unless page.nofooter %}
	<div class="landscape">
		<nav class="container wb-navcurr">
			<h2 class="wb-inv">{{ i18nText-footerAbout }}</h2>
			<ul class="list-unstyled colcount-sm-2 colcount-md-3">
{%- if i18nText-lang == "fr" -%}
				<li><a href="https://www.canada.ca/fr/contact.html">Contactez-nous</a></li>
				<li><a href="https://www.canada.ca/fr/gouvernement/min.html">Ministères et organismes</a></li>
				<li><a href="https://www.canada.ca/fr/gouvernement/fonctionpublique.html">Fonction publique et force militaire</a></li>
				<li><a href="https://www.canada.ca/fr/nouvelles.html">Nouvelles</a></li>
				<li><a href="https://www.canada.ca/fr/gouvernement/systeme/lois.html">Traités, lois et règlements</a></li>
				<li><a href="https://www.canada.ca/fr/transparence/rapports.html">Rapports à l'échelle du gouvernement</a></li>
				<li><a href="https://pm.gc.ca/fra">Premier ministre}}</a></li>
				<li><a href="https://www.canada.ca/fr/gouvernement/systeme.html">Comment le gouvernement fonctionne</a></li>
				<li><a href="https://ouvert.canada.ca/">Gouvernement ouvert</a></li>
{%- elsif i18nText-lang == "en" -%}
				<li><a href="https://www.canada.ca/en/contact.html">Contact us</a></li>
				<li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
				<li><a href="https://www.canada.ca/en/government/publicservice.html">Public service and military</a></li>
				<li><a href="https://www.canada.ca/en/news.html">News</a></li>
				<li><a href="https://www.canada.ca/en/government/system/laws.html">Treaties, laws and regulations</a></li>
				<li><a href="https://www.canada.ca/en/transparency/reporting.html">Government-wide reporting</a></li>
				<li><a href="https://pm.gc.ca/eng">Prime Minister</a></li>
				<li><a href="https://www.canada.ca/en/government/system.html">How government works</a></li>
				<li><a href="https://open.canada.ca/en/">Open government</a></li>
{%- endif -%}
			</ul>
		</nav>
	</div>
{% endunless %}
	<div class="brand">
	<div class="container">
		<div class="row ">
			<nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
				<h2 class="wb-inv">{{ i18nText-footerSite }}</h2>
				<ul>
{%- if i18nText-lang == "fr" -%}
					<li><a href="https://www.canada.ca/fr/sociaux.html">Médias sociaux</a></li>
					<li><a href="https://www.canada.ca/fr/mobile.html">Applications mobiles</a></li>
					<li><a href="https://www1.canada.ca/fr/nouveausite.html">À propos de Canada.ca</a></li>
					<li><a href="https://www.canada.ca/fr/transparence/avis.html">Avis</a></li>
					<li><a href="https://www.canada.ca/fr/transparence/confidentialite.html">Confidentialité</a></li>
{%- elsif i18nText-lang == "en" -%}
					<li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
					<li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
					<li><a href="https://www1.canada.ca/en/newsite.html">About Canada.ca</a></li>
					<li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
					<li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
{%- endif -%}
				</ul>
			</nav>
			<div class="col-xs-6 visible-sm visible-xs tofpg">
				<a href="#wb-cont">{{ i18nText-top }} <span class="glyphicon glyphicon-chevron-up"></span></a>
			</div>
			<div class="col-xs-6 col-md-3 col-lg-2 text-right">
				<img src="{{ setting-resourcesBasePathTheme }}/{{ i18nText-wmmsImg }}" alt="{{ i18nText-wmms }}" />
			</div>
		</div>
	</div>
</div>
</footer>
<style>

table, td, th {
   border: 1px solid black;
}

thead {
  background-color: #e2e2e2;
}
</style>
